<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body data-fbappid="{{fb_app_id}}">

    <h1>
      <a href="https://developers.facebook.com/docs/messenger-platform/plugin-reference">Messenger Platform: Plugin Reference</a>のサンプル
    </h1>

    <div class="send-to-messenger-container">
      <h2>"Send to Messenger" plugin</h2>
      <p>クリックすると、Botがなんか言うよー。Androidで動いてない気がするけど。</p>
      <p><small>※アプリの管理者になってないと通知が受け取れません。試してみたい人はアプリの管理者に連絡してくらさい。</small></p>
      <div class="fb-send-to-messenger" 
        messenger_app_id="{{fb_app_id}}" 
        page_id="{{fb_page_id}}" 
        data-ref="PASS_THROUGH_PARAM" 
        color="blue" 
        size="standard"></div>
    </div>

    <div class="message-us-container">
      <h2>Message-Us Plugin</h2>
      <p>クリックすると、メッセンジャーが開くよー。</p>
      <div class="fb-messengermessageus" 
        messenger_app_id="{{fb_app_id}}"
        data-ref="PASS_THROUGH_PARAM"
        page_id="{{fb_page_id}}"
        color="blue"
        size="standard" ></div>
    </div>

    <script src="{{path_for('index')}}js/fb.js"></script>
  </body>
</html>
